
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0; /* Menambahkan padding 0 untuk menghilangkan ruang ekstra */
    box-sizing: border-box; /* Memastikan bahwa border dan padding tidak menambah lebar elemen */
  }
  
  .navbar {
    display: flex;
    background-color: chocolate;
    padding: 10px; /* Menambahkan padding untuk memberikan ruang di sekitar elemen navbar */
    align-items: center; /* Memusatkan elemen di tengah vertikal */
  }
  
  .image img {
    width: 40px;
    margin-right: 10px; /* Menambahkan margin kanan untuk memberikan ruang di sebelah kanan gambar */
  }
  
  .profile img {
    width: 30px;
    margin-left: auto; /* Mendorong elemen ini ke ujung kanan menggunakan margin kiri otomatis (auto) */
  }
  
  .list {
    list-style: none; /* Menghilangkan marker dari daftar */
  }
  
  .list li {
    display: inline-block;
    margin-right: 15px; /* Memberikan ruang antara setiap elemen daftar */
  }
  
  .list a {
    text-decoration: none;
    color: white;
    font-size: 14px; /* Mengatur ukuran font untuk elemen navigasi */
  }
  
  .logo h1 {
    font-size: 18px; /* Menyesuaikan ukuran font untuk logo */
    color: white; /* Menambahkan warna ke logo */
    margin-top: 10px; /* Menyesuaikan margin atas untuk logo */
    margin-right: auto; /* Mendorong elemen ini ke ujung kiri menggunakan margin kanan otomatis (auto) */
  }
  